@model BearEF.DonationTypeID

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<fieldset>



    <div class="display-label">Donation Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DonationDesc)
    </div>
</fieldset><br/>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn btn-info"/> @Html.ActionLink("Back to List", "Index", null, new {@class="btn"})
    </p>
}
