@model BearEF.DonationTypeID

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DonationTypeID</legend>

    <div class="display-label">DonationTypeID1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DonationTypeID1)
    </div>

    <div class="display-label">DonationDesc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DonationDesc)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
