
BearEF.dll
BearED.pdb
BearCamp.dll
BearCamp.pdb
app/BearCamp/BearCamp/obj/Debug/BearCamp.pdb
app/BearCamp/BearCamp.suo
app/BearCamp/BearCamp.suo
app/BearCamp/BearCamp.suo
app/BearCamp/BearCamp.Tests/bin/Debug/BearCamp.Tests.dll
app/BearCamp/BearCamp.Tests/bin/Debug/BearCamp.Tests.dll
app/BearCamp/BearCamp.Tests/bin/Debug/BearCamp.Tests.pdb
app/BearCamp/BearCamp.Tests/bin/Debug/BearEF.pdb
app/BearCamp/BearCamp.Tests/obj/Debug/BearCamp.Tests.dll
app/BearCamp/BearCamp.Tests/obj/Debug/BearCamp.Tests.pdb
app/BearCamp/BearCamp.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
app/BearCamp/BearCamp.Tests/obj/Debug/ResolveAssemblyReference.cache
app/BearCamp/BearCamp/Web.config