
BearEF.dll
BearED.pdb
BearCamp.dll
BearCamp.pdb
app/BearCamp/BearCamp/obj/Debug/BearCamp.pdb
app/BearCamp/BearCamp.suo
app/BearCamp/BearCamp.suo
app/BearCamp/BearCamp.suo
app/BearCamp/BearCamp.Tests/bin/Debug/BearCamp.Tests.dll
app/BearCamp/BearCamp.Tests/bin/Debug/BearCamp.Tests.dll
app/BearCamp/BearCamp.Tests/bin/Debug/BearCamp.Tests.pdb
app/BearCamp/BearCamp.Tests/bin/Debug/BearEF.pdb
app/BearCamp/BearCamp.Tests/obj/Debug/BearCamp.Tests.dll
app/BearCamp/BearCamp.Tests/obj/Debug/BearCamp.Tests.pdb
app/BearCamp/BearCamp.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
app/BearCamp/BearCamp.Tests/obj/Debug/ResolveAssemblyReference.cache
app/BearCamp/BearCamp/Web.config
app/BearCamp/BearCamp.suo
app/BearCamp/BearCamp.Tests/bin/Debug/BearCamp.dll
app/BearCamp/BearCamp.Tests/bin/Debug/BearCamp.pdb
app/BearCamp/BearCamp.Tests/bin/Debug/BearCamp.Tests.dll
app/BearCamp/BearCamp.Tests/bin/Debug/BearCamp.Tests.pdb
app/BearCamp/BearCamp.Tests/bin/Debug/BearCommon.dll
app/BearCamp/BearCamp.Tests/bin/Debug/BearCommon.pdb
app/BearCamp/BearCamp.Tests/obj/Debug/BearCamp.Tests.dll
app/BearCamp/BearCamp.Tests/obj/Debug/BearCamp.Tests.pdb
app/BearCamp/_ReSharper.BearCamp/AspFileDataCache.dat
app/BearCamp/BearCommon/obj/Debug/ResolveAssemblyReference.cache
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*