<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="bearcampEntities" connectionString="metadata=res://*/BearCampData.csdl|res://*/BearCampData.ssdl|res://*/BearCampData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2b81afbc-1c4b-42d2-ac16-a0480132ad3c.sqlserver.sequelizer.com;initial catalog=db2b81afbc1c4b42d2ac16a0480132ad3c;user id=dypfcaqbcngeabwt;password=NFNPvuBzYuGaeegKyhYC6Jv5KwPn74rmB4TbHbnWDkvTAM7ayMTZnyWekSd8MoA5;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>