<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bearcampEntities" connectionString="metadata=res://*/BearCampData.csdl|res://*/BearCampData.ssdl|res://*/BearCampData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= sql2k1201.discountasp.net;initial catalog=SQL2012_899143_steppingsto;user id=SQL2012_899143_steppingsto_user;password=nkxX03pH;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>